  .blog-header-logo { font-family: "Playfair Display", Georgia, "Times New Roman", serif; font-size: 2.25rem; }
            .blog-post { margin-bottom: 4rem; }
            .blog-post-title { font-size: 2.5rem; }
            .blog-post-meta { margin-bottom: 1.25rem; color: #727272; }
            .blog-pagination { margin-bottom: 4rem; }
            @media (min-width: 40em) { .blog-post-title { font-size: 3.5rem; } }

            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }
            @media (min-width: 768px) {
                .bd-placeholder-img-lg { font-size: 3.5rem; }
            }
            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: #0000001a;
                border: solid rgba(0, 0, 0, 0.15);
                border-width: 1px 0;
                box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
            }
            .bi { vertical-align: -0.125em; fill: currentColor; }
            .nav-scroller { position: relative; z-index: 2; height: 2.75rem; overflow-y: hidden; }
            .nav-scroller .nav {
                display: flex; flex-wrap: nowrap; padding-bottom: 1rem;
                margin-top: -1px; overflow-x: auto; text-align: center;
                white-space: nowrap; -webkit-overflow-scrolling: touch;
            }
            .btn-bd-primary {
                --bd-violet-bg: #712cf9;
                --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
                --bs-btn-font-weight: 600;
                --bs-btn-color: var(--bs-white);
                --bs-btn-bg: var(--bd-violet-bg);
                --bs-btn-border-color: var(--bd-violet-bg);
                --bs-btn-hover-color: var(--bs-white);
                --bs-btn-hover-bg: #6528e0;
                --bs-btn-hover-border-color: #6528e0;
                --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
                --bs-btn-active-color: var(--bs-btn-hover-color);
                --bs-btn-active-bg: #5a23c8;
                --bs-btn-active-border-color: #5a23c8;
            }
            .bd-mode-toggle { z-index: 1500; }
            .bd-mode-toggle .bi { width: 1em; height: 1em; }
            .bd-mode-toggle .dropdown-menu .active .bi { display: block !important; }

            .parrafo-1 { 
                color: #ff0000 !important; /* rojo */
            }
            .parrafo-2 { 
                color: #ffff00 !important; /* amarillo */
            }
            .parrafo-3 { 
                color: #0000ff !important; /* azul */
            }
            .parrafo-4 { 
                color: #00ff00 !important; /* verde */
            }
            .parrafo-5 { 
                color: #ff0088 !important; /* fuchsia */
            }
            .parrafo-6 { 
                color: #00c0e8 !important; /* cyan */
            }
            .parrafo-7 { 
                color: #ff8d28 !important; /* naranjo */
            }
            .parrafo-8 { 
                color: #20c997 !important; /* menta */
            }

.glitch { 
    position: relative; 
    color: #ff0088; !important; 
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    margin-left: -220px;  /* mueve a la derecha */
    margin-top: 20px;
    margin-bottom: 40px; 
}

.glitch a:first-child {
    position: relative;
    color: #ff0088 !important;
}

.g1 { 
    color: #ff0088;    
    transform: translate(0%, -30%); 
    position: absolute;

}
.g2 { 
    color: cyan;   
    transform: translate(0%, 0%); 
    position: absolute;
}
.g3 { 
    color: yellow; 
    transform: translate(0%,  30%); 
    position: absolute;
}
.g4 { 
    color: yellow; 
    transform: translate(-100%,  -30%); 
    position: absolute;
}
.g5 { 
    color: cyan; 
    transform: translate(-100%,  -60%); 
    position: absolute;
}


.glitch2 {
    position: relative;
    color: #ff0088 !important;
    display: inline-block;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
    
    /* centrado */
    left: 50%;
    transform: translateX(-50%);
}

.glitch2 a:first-child {
    position: relative;
    color: #ff0088 !important;
    text-decoration: underline;
}

.j1 { 
    color: yellow;
    position: absolute;
    transform: translate(-100%,  -20%);
    text-decoration: underline; 
}
.j2 { 
    color: cyan;
    position: absolute;
    transform: translate(-100%,  -40%); 
    text-decoration: underline;
}

.glitch3 { 
    position: relative; 
    color: #20c997; !important; 
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    margin-left: -220px;  /* mueve a la derecha */
    margin-top: 70px;
    margin-bottom: 20px; 
}

.glitch3 a:first-child {
    position: relative;
    color: #20c997 !important;
}

.t1 { 
    color: #20c997;    
    transform: translate(0%, -120%); 
    position: absolute;

}
.t2 { 
    color: #20c997;   
    transform: translate(0%, -40%); 
    position: absolute;
}

.t4 { 
    color: #20c997; 
    transform: translate(-100%,  -80%); 
    position: absolute;
}


.glitch4 {
    position: relative;
    color: #20c997 !important;
    display: inline-block;
    white-space: nowrap;
    margin-top: 50px;
    margin-bottom: 40px;
    text-decoration: underline;
    
    /* centrado */
    left: 50%;
    transform: translateX(-50%);
}

.glitch4 a:first-child {
    position: relative;
    color: #20c997 !important;
    text-decoration: underline;
}

.k1 { 
    color: #20c997;
    position: absolute;
    transform: translate(-100%,  -80%);
    text-decoration: underline; 
}

